body {
    margin: 0px;
    padding: 0px;
}

.logo {
    height: 52px;
    width: 105px;
}

#main-nav {
    display: flex;
    border-bottom: 1px solid #43424246;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 14px;
}

#search-container {
    width: 450px;
    display: flex;
    border-bottom: 1px solid #434242;
    align-items: center;
    height: 34px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 310px;
    height: 21px;
}

.search-bar > p {
    color: rgba(46, 45, 45, 0.637);
    font-weight: lighter;
}

.nav-dropdown {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 140px;
    height: 23.59px;
    justify-content: flex-end;
    margin-right: 10px;
}

.nav-dropdown > p {
    color: rgba(46, 45, 45, 0.781);
    font-weight: bold;
}

#search-container:hover {
    cursor: pointer;
    border-bottom: 1px solid #e60012;
    transition: 0.2s;
}

.search-bar:hover > p {
    color: #e60012;
    transition-duration: 0.2s;
}

.nav-dropdown:hover > p {
    color: #e60012;
    transition-duration: 0.2s;
}

.dropdown-arrow {
    transform: rotate(180deg);
}

#nav-right {
    display: flex;
    margin-left: auto;
    width: 519.72px;
    justify-content: space-evenly;
}

.nav-right-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.nav-right-item > p {
    margin: 0px;
}

.nav-right-item:hover > p {
    cursor: pointer;
    color: #e60012;
    transition-duration: 0.2s;
}

