body {
    margin: 0px;
    padding: 0px;
}

#main-nav {
    display: flex;
    border-bottom: 1px solid #43424246;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    height: 52px;
    width: 105px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 450px;
    height: 32px;
    border-bottom: 1px solid #434242;
}

.search-bar > img {
    width: 18px;
    height: auto;
}

.search-bar > p {
    width: 292px;
    margin-left: 10px;
}

.nav-search-title {
    color: rgba(46, 45, 45, 0.637);
    font-weight: lighter;
}

.nav-dropdown {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-dropdown > p {
    margin: 0px;
    color: rgba(46, 45, 45, 0.781);
    font-weight: bold;
}

.dropdown-arrow {
    transform: rotate(180deg);
}

#nav-glass, #heart-svg, #Icon-Set-Filled, #person-svg {
    fill:#434242;
}

#nav-right {
    display: flex;
    margin-left: auto;
    width: 519.72px;
    border: 1px solid black;
    justify-content: space-evenly;
}

#nav-right div {
    width: fit-content;
    border: 1px solid black;
}

.nav-right-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.nav-right-item > p {
    margin: 0px;
}

#SVGRepo_iconCarrier {
    stroke: #434242;
}